<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwwxmlns.thymeleaf.org">

    <head>
        <title>Artikkeli</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    </head>

    <body>
        <div class="container">
            <h1><span th:text="${artikkeli.getNimi}">nimi</span></h1>

            Tekijät: <span th:text="${artikkeli.getTekija}">Tekija</span>, Julkaisuvuosi: <span th:text="${artikkeli.getJulkaistu}">Vuosi</span></br>
            Julkaistu: <span th:text="${artikkeli.getJulkaisuLehti}">Pituus</span>, numerossa <span th:text="${artikkeli.getNumero}">Genre</span>, pituus <span th:text="${artikkeli.getSivut}">Sivut</span></br>
            <a th:href="${artikkeli.getLinkki}"><span th:text="${artikkeli.getLinkki}">Linkki</span></a></br>
            <span th:text="${artikkeli.getLuettuString}">Luettu</span> </br>
            <p><a href="/artikkelit">Artikkelien listaukseen</a></p> </br>
            <p><a href="/">Aloitussivulle</a></p>



            <h2>Muokkaa artikkelin tietoja</h2>

            <form method="POST" th:action="@{~/artikkeli/{artikkeliId}(artikkeliId=${artikkeli.id})}">

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Artikkelin nimi: </label>
                    <input type="text" name="nimi" th:value="${artikkeli.getNimi}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pituus: </label>
                    <input type="text" name="pituus" th:value="${artikkeli.getPituus}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Linkki: </label>
                    <input type="text" name="linkki" th:value="${artikkeli.getLinkki}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tekija: </label>
                    <input type="text" name="tekija" th:value="${artikkeli.getTekija}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Julkaisu lehti: </label>
                    <input type="text" name="julkaisuLehti" th:value="${artikkeli.getJulkaisuLehti}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Julkaisuvuosi: </label>
                    <input type="text" name="julkaisuVuosi" th:value="${artikkeli.getJulkaistu}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Numero: </label>
                    <input type="text" name="numero" th:value="${artikkeli.getNumero}"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sivut: </label>
                    <input type="text" name="sivut" th:value="${artikkeli.getSivut}"/>
                </div>

                <button type="submit" class="btn btn-primary">Muokkaa</button>
            </form>
            
            <p>Artikkelin tagit:</p>
            <ol>
                <li th:each="tagi : ${tagit}">
                    <span th:text="${tagi}">Tagin nimi </span>
                </li>
            </ol>
            
        </div>
    </body>

</html>