<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lukuvinkkikirjasto</title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </head>
    <body>
        <div class="container">

            <form method="GET" action="/artikkelit/luetut">
                <input class="btn btn-primary" type="submit" value="luetut"/>
            </form>
            <form method="GET" action="/artikkelit/lukemattomat">
                <input class="btn btn-primary" type="submit" value="lukemattomat"/>
            </form>
            <form method="GET" action="/artikkelit">
                <input class="btn btn-primary" type="submit" value="kaikki"/>
            </form>
            <h1>Artikkelit</h1>

            <table class="table">
                <tr th:each="artikkeli : ${artikkelit}">
                    <td>
                        <a th:href="@{~/artikkeli/{id}(id=${artikkeli.id})}" ><strong th:text="${artikkeli.getNimi}">N</strong></a> </br>
                        <span th:text="${artikkeli.getTekija}">T</span> </br>
                        <span th:text="${artikkeli.getLuettuString}">L</span>
                    </td>
                    <td>
                        <form th:action="@{~/artikkelit/{artikkeliId}(artikkeliId=${artikkeli.id})}" method="post" id ="nappi">
                            <input th:if="${not artikkeli.isLuettu}" class="btn btn-success" name = nappi type="submit" value="Merkitse luetuksi" />
                            <input class="btn btn-danger" name = nappi type="submit" value="poista" />
                        </form>
                    </td> 

                </tr>
            </table>

            <h2>Lisää uusi artikkeli</h2>

            <form method="POST" action="/artikkelit">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Artikkelin nimi: </label>
                    <input type="text" name="nimi"/>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Pituus: </label>
                    <input type="text" name="pituus" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Linkki: </label>
                    <input type="text" name="linkki" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tekija: </label>
                    <input type="text" name="tekija" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Julkaisu lehti: </label>
                    <input type="text" name="julkaisuLehti" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Julkaisuvuosi: </label>
                    <input type="text" name="julkaisuVuosi" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Numero: </label>
                    <input type="text" name="numero" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Sivut: </label>
                    <input type="text" name="sivut" />
                </div>
                <div class="form-group row">
                    <label class="col-sm-2">Luettu: </label>
                    <input type="checkbox" name="luettu" value="true"/>
                </div>

                <button type="submit" class="btn btn-primary">Lisää</button>
            </form>

            <p><a href="/">Aloitussivulle</a></p>
        </div>
    </body>
</html>