<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwwxmlns.thymeleaf.org">

    <head>
        <title>Artikkeli</title>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



    </head>

    <body>
        <div class="container">
            <h1><span th:text="${artikkeli.getNimi}">nimi</span></h1>

            Tekijät: <span th:text="${artikkeli.getTekija}">Tekija</span>, Julkaisuvuosi: <span th:text="${artikkeli.getJulkaistu}">Vuosi</span></br>
            Julkaistu: <span th:text="${artikkeli.getJulkaisuLehti}">Pituus</span>, numerossa <span th:text="${artikkeli.getNumero}">Genre</span>, pituus <span th:text="${artikkeli.getSivut}">Sivut</span></br>
            <a th:href="${artikkeli.getLinkki}"><span th:text="${artikkeli.getLinkki}">Linkki</span></a></br>
            <span th:text="${artikkeli.getLuettuString}">Luettu</span> </br>
            <p><a href="/artikkelit">Artikkelien listaukseen</a></p> </br>
            <p><a href="/">Aloitussivulle</a></p>

        </div>


    </body>

</html>