<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lukuvinkkikirjasto</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <h1>Kirjat</h1>
        <table>
            
                <tr th:each="kirja : ${kirjat}">
                    <td th:text="${kirja}">Kirja</td>
                    <td <form th:action="@{~/kirjat/{ISBN}(ISBN=${kirja.ISBN})}" method="post">
                            <input type="submit" value= "poista" />
                        </form> <td>
                </tr>
            
        </table>
        <h2>Lisää uusi kirja</h2>

        <form method="POST" action="/kirjat">
            <span>ISBN: </span> 
            <input type="text" name="ISBN" /><br/>
            <span>Kirjan nimi: </span>
            <input type="text" name="nimi"/><br/>
            <span>Genre: </span>
            <input type="text" name="genre"/><br/>
            <span>Pituus: </span>
            <input type="text" name="pituus" /> <br/>
            <span>Linkki: </span>
            <input type="text" name="linkki" /> <br/>
            <span>Tekija: </span>
            <input type="text" name="tekija" /> <br/>
            <span>Julkaisuvuosi: </span>
            <input type="text" name="julkaisuVuosi" /> <br/>
            <span>Luettu: </span>
            <input type="checkbox" name="luettu" value="true" checked /> <br/>

            <input type="submit" value="Lisää" />
        </form>
    </body>
</html>
