<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lukuvinkkikirjasto</title>
        <meta charset="UTF-8"/>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>

        <h1>Kirjat</h1>
        <div class="table">
        <table>
            
                <tr th:each="kirja : ${kirjat}">
                    <td th:text="${kirja}">Kirja</td>
                    <td> <form th:action="@{~/kirjat/{ISBN}(ISBN=${kirja.ISBN})}" method="post" id="nappi">
                            <input type="submit" value="poista"/>
                        </form> </td>
                </tr>
            
        </table>
        </div>
        <h2>Lisää uusi kirja</h2>

        <form method="POST" action="/kirjat">
            <div class="form-group">
                <label for="ISBN">ISBN: </label> 
                 <input type="text" name="ISBN" />
            </div>
            <div class="form-group">
                <label>Kirjan nimi: </label>
                <input type="text" name="nimi"/>
            </div>
            <div class="form-group">
                <label>Genre: </label>
                <input type="text" name="genre"/>
            </div>
            <div class="form-group">
                <label>Pituus: </label>
                <input type="text" name="pituus" />
            </div>
            <div class="form-group">
                <label>Linkki: </label>
                <input type="text" name="linkki" />
            </div>
            <div class="form-group">
               <label>Tekija: </label>
               <input type="text" name="tekija" />
            </div>
            <div class="form-group">
               <label>Julkaisuvuosi: </label>
                <input type="text" name="julkaisuVuosi" />
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="luettu" value="true"/>luettu</label>
            </div>
            <button type="submit" class="btn btn-submit">Lisää</button>
        </form>

         
         <p><a href="/">Aloitussivulle</a></p>
         
    </body>
</html>
