<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Lukuvinkkikirjasto</title>
        <meta charset="UTF-8"/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container">
            <h1>Tagit</h1>
            
            <table class="table">
                <tr th:each="tagi : ${tagit}">
                    <td>
                        <span th:text="${tagi.getNimi}">Nimi</span></br>
                    </td>
                </tr>
            </table>
            
            <h2>Lisää uusi tagi</h2>
            
            <form method="POST" action="/tagit">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tagin nimi: </label>
                    <input type="text" name="nimi"/>
                </div>
                <button type="submit" class="btn btn-primary">Lisää</button>
            </from>
            
            </br>
            <p><a href="/">Aloitussivulle</a></p>
            
        </div>
    </body>
</html>